<h1>Todo List</h1>
<a href="{% url 'create_todo' %}">Create new task</a>
<a href="{% url 'create_priority' %}">Create new priority</a>
<ul>
{% for object in object_list %}
    Description: {{ object.description }}<br/>
    Done: {{ object.done }}<br/>
    Priority: {{ object.priority }}<br/>
    Assigned User: {{ object.assigned_user }}<br/><br/>
    <a href="{% url 'update_todo' object.id %}">Update data</a>
    <a href="{% url 'update_user' object.id %}">Change assigned user</a>
    <a href="{% url 'delete_todo' object.id %}">Delete</a>
    <hr/>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
